* {
    margin: 0;
    padding: 0;

}



body {
    background-color: aqua;
    background-image: url('bg2.jpg');
    background-size: cover ;
    background-repeat: no-repeat;
    overflow: hidden;

}

.nav-li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px 60px;
    margin: 23px 23px 60px 20px; */
    overflow: hidden;


}

.nav-li img {
    height: 70px;
    margin: 23px 23px 23px 23px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;

}

.nav-li ul {

    display: flex;
    justify-content: center;
    align-items: center;

    list-style-type: none;
    /* margin-top: 25px; */
}

.nav-li ul li {
    justify-content: center;
    align-items: center;


}

.nav-li ul li a {
    text-decoration: none;
    color: #000000;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

.nav-li ul li a:hover {
    background-color: #fff;
    color: #000;
}

.nav-li ul li.active a {
    background-color: #fff;
    color: #000;
}

.welcome {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    transition: all 0.1s ease-in-out;
    cursor: crosshair;

}

.welcome h1 {
    color: #ffffff;
    font-size: 60px;
    ;

}

.button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.btn {
    text-decoration: none;
    color: #ffffff;
    padding: 20px 20px;
    border: 1px solid transparent;
    /* transition: 0.6s ease; */
    display: inline-block;
}

.btn:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    /* transition: all 0.1 ease-in-out; */
    /* border-radius: 50%; */
}

.footer {

    width: 100%;
    height: 30px;
    background-color: black;
    color: white;




    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer p {
    text-align: center;
    font-size: 20px;
    padding: 5px;
}

.hang {
    display: none;
    position: absolute;
    top: -4px;
    right: -10px;
}




@media only screen and (max-width: 1496px) {

    .button {
        width: 100%;
        text-align: center;
    }




}

@media only screen and (max-width: 1000px) {
    body {
        background: url("bgpd.jpg");
        background-size: 100% 100vh;
        background-repeat: no-repeat;
    }
    
}

@media only screen and (max-width: 600px) {
    .h-nav {
        visibility: collapse
       
         
        
    }
    
   



    .h-list {
        /* display: flex; */
        flex-direction: column;
           /* position: absolute;
            text-align: center;
            top: 70px;
            left: 0;
            background: #000000;
            color: #fff;
            width: 100%;
            /* overflow: hidden; 
            transition:all 0.1s ease-in-out;
            z-index: 1; */

        position: absolute;
        height: 100%;
        width: 100%;
        left: 0%;
        top: 0px;
        padding: 20px;
        background-color:rgb(2, 2, 119);
        /* color: white; */
        z-index: 100;
        
        /* transition:all 0.5s ease-out; */
    }

    .h-list li {
        /* display: block;
            flex-direction: column;
            margin-right: 50px;
            margin-top: 10px;
            margin-bottom: 10px;
            height: 50px;
            color: #fff; */
        /* display: flex;
        flex-direction: column; */
        padding-top: 30px;  
    }
    
    .nav-li ul li a {
        color:yellow;
    }


.nav-li {
    float: left;
    
}
.logo{
    z-index: 103;
}
.nav-li img {
    height: 60px;
    
    
}

.hang {
    display: block;
    z-index: 101;

}   
.welcome{
    width:100%;
}
    .welcome h1{
        font-size: 40px;
    }

    .button{
        font-size: 30px;
        z-index: 2;  
    }

}
